@font-face {
    font-family: quote-font;
    src: url('../assets/RobotoSlab-Medium.ttf');
}
@font-face {
    font-family: section-body-font;
    src: url('../assets/NotoSans-Regular.ttf');
}
@font-face {
    font-family: section-head-font;
    src: url('../assets/NotoTraditionalNushu-Regular.ttf');
}

:root{
    --header-color: #253764;
    --header-font-color: white;
    --accent-color: #e2e7da;
    --accent-color-bg: #e2e7da;
    --accent-font-color: #344b0f;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.link-button{
    background-color: var(--accent-color-bg);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0px;
}
.link-button a{
    font-family: section-body-font;
    font-style: normal;
    color: var(--accent-font-color);
}

.school-name-box{
    padding: 15px 10px;
    margin: 0px;
    height: fit-content;
    background-color: var(--header-color);
    font-family: section-head-font;
}
.school-name-box .school-logo{
    display: inline-block;
    height: 50px;
    width: 50px;
}
.school-name-box .school-name{
    display: inline-block;
    height: 100%;
    color: var(--header-font-color);
}
.school-name-box .school-name h4, .school-name-box .school-name h2{
    margin: 0px;
    padding: 2px;
}

.content-box{
    padding: 0% 5%;
    margin: 0%;
    border: none;
    font-family: section-body-font;
}

.admission-enquiry-box h2{
    font-family: section-head-font;
}

.admission-box h2{
    font-family: section-head-font;
}

.blank-bottom-box{
    height: 30vw;
    padding: 0px;
    margin: 0px;
    width: 100%;
}