@font-face {
    font-family: section-body-font;
    src: url('../assets/OpenSans-Regular.ttf');
}

:root{
    --header-color: #253764;
    --header-font-color: white;
    --accent-color: #e2e7da;
    --accent-color-bg: #e2e7da;
    --accent-font-color: #344b0f;
    --section-font: section-body-font;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

p, label, a{
    font-size: 0.9rem;
}

.school-name-box{
    padding: 10px;
    margin: 0px;
    height: fit-content;
    background-color: var(--header-color);
    font-family: var(--section-font);
    display: flex;
    align-items: center;
}
.school-name-sticky-box{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 99%;
}
.school-name-box .school-logo{
    height: 55px;
    margin: 0px 5px;
}
.school-name-box .school-name{
    height: 100%;
    color: var(--header-font-color);
}
.school-name-box .school-name h4, .school-name-box .school-name h2{
    margin: 0px;
    padding: 2px;
}

.content-box{
    padding: 0% 5%;
    margin: 0%;
    border: none;
}
.content-body{
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-width: 550px){
    p, label, a, li{
        font-size: 0.8rem;
    }
    .content-body{
        padding: 0% 17%;
    }
}
.faqs-box h3{
    font-family: var(--section-font);
}
.faqs-box p{
    font-family: var(--section-font);
}
.question-box{
    margin: 10px 0px;
}
.question-box .question{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin: 0px;
    text-align: left;
    border: none;
    transition: background-color 0.4s;
    width: 100%;
    font-family: var(--section-font);
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px rgb(0,0,0,0.2);
    font-size: 0.9rem;
}
.question-box .question:active{
    background-color: gray;
    color: whitesmoke;
    outline: none;
}
.question-box .question:focus-visible{
    background-color: none;
    color: none;
    outline: none;
}
.question-box .active{
    background-color: hsl(0, 0%, 90%);
    color: black;
    box-shadow: none;
}
.question-box .question:after{
content: "+";
float: right;  
font-size: 1.5em;
}
.question-box .active:after{
content: "\2212";
font-size: 1.5em;
}
.question-box .answer{
padding: 0px 15px;
margin: 0px 10px;
background-color: white;
display: none;
font-size: 0.9rem;
border-left: 3px solid grey;
}

.contact-link-box{
    height: fit-content;
    font-family: var(--section-font);
}
.contact-link-box b, .contact-link-box a{
    color: var(--accent-font-color);
}

.address-box{
    font-family: var(--section-font);
}

.website-info-bottom-box{
    height: fit-content;
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: var(--header-color);
    color: white;
    font-family: var(--section-font);
}
.website-info-bottom-box h4{
    margin: 0px;
    padding: 20px 0px;
}
.website-info-bottom-box a{
    color: white;
    font-size: 0.85rem;
}
.website-info-bottom-box a:active{
    color: grey;
}
.website-info-bottom-box p{
    font-size: 0.85rem;
}
.website-info-bottom-box .copyright-notice{
    font-size: 0.7rem;
}