@font-face {
    font-family: quote-font;
    src: url('../assets/RobotoSlab-Medium.ttf');
}
@font-face {
    font-family: section-body-font;
    src: url('../assets/OpenSans-Regular.ttf');
}

:root{
    --header-color: #253764;
    --header-font-color: white;
    --accent-color: #e2e7da;
    --accent-color-bg: #e2e7da;
    --accent-font-color: #344b0f;
    --section-font: section-body-font;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.link-button{
    background-color: var(--accent-color-bg);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0px;
    font-family: var(--section-font);
    font-style: normal;
    color: var(--accent-font-color);
    transition: background-color 0.4s;
}
.link-button:active{
    color: var(--accent-color-bg);
    background-color: var(--accent-font-color);
}
p, label, a, li{
    font-size: 0.9rem;
}

.website-header{
    position: fixed;
    z-index: 1;
    top: 0px;
    opacity: 0;
    width: 100%;
    transition: opacity 0.2s ease-out;
}
.school-name-box{
    padding: 10px;
    margin: 0px;
    height: fit-content;
    background-color: var(--header-color);
    font-family: var(--section-font);
    display: flex;
    align-items: center;
}
.website-header .school-logo{
    height: 55px;
    margin: 0px 5px;
}
.website-header .school-name{
    height: 100%;
    color: var(--header-font-color);
}
.website-header .school-name h4, .website-header .school-name h2{
    margin: 0px;
    padding: 2px;
}

#school-svg{
    width: 100%;
}

.content-box{
    padding: 0% 5%;
    margin: 0%;
}

@media only screen and (min-width: 550px){
    p, label, a, li{
        font-size: 0.8rem;
    }
    #school-svg{
        width: 100%;
        content: url('../assets/school_name_desktop.svg');
    }
    .content-body{
        margin: 0% 17%;
        padding: 0%;
        background: white;
        border: none;
        border-radius: 20px;
    }
}

#quote{
    padding: 5% 5% 1% 5%;
    font-family: quote-font;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
}
.quote-box hr{
    width: 30%;
    height: 1.5px;
    align-self: center;
    background-color: black;
    border: none;
}

#intro{
    padding: 2% 0% 2% 0%;
    font-family: var(--section-font);
    font-style: normal;
    color: black;
}

.courses-box h2{
    font-family:var(--section-font);
}
.courses-box p{
    padding: 2% 0% 2% 0%;
    font-family: var(--section-font);
    font-style: normal;
}
.courses-box .course-card{
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 1px rgb(0,0,0,0.2);
}
.courses-box .course-upper-card{
    height: 60%;
    width: 100%;
    background-color: #C8DEE5;
    background-size: 200% 100%;
    border-radius: 20px 20px 0px 0px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--section-font);
    transition: background-position 1s ease-out;
}
.courses-box .course-lower-card{
    background-color: transparent;
    height: 40%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-family: var(--section-font);
}
.courses-box .course-lower-card label{
    margin: 1px 0px;
    display: inline-block;
}
.courses-box #course-current-card{
    background-color: transparent;
    height: 60px;
    width: 60px;
    border: 3px solid;
    border-color: #4C6D93;
    border-radius: 100%;
    text-align: center;
    font-family: var(--section-font);
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
}
.courses-box #course-current-card p{
    color:#4C6D93;
    font-weight: bold;
    font-size: 1rem;
}
.courses-box .course-nav-button{
    height: 50px;
    width: 50px;
    font-size: x-large;
    border: 1px solid transparent;
    border-radius: 100%;
    display: inline-flex;
    background-color: transparent;
    transition: background-color 0.7s border-color 0.7s;
    align-items: center;
    justify-content: center;
}
.courses-box .course-nav-button:enabled:active{
    background-color: #0000001a;
    border-color: #00000085;
}

.uniqueness-box h2{
    font-family: var(--section-font);
}
.uniqueness-card{
    display: flex;
    margin: 0px;
    overflow-x:auto;
    padding: 0px 15px;
    padding-bottom: 10px;
}
.uniqueness-card::-webkit-scrollbar{
    height: 5px;
}
.uniqueness-card::-webkit-scrollbar-thumb{
    background-color: var(--accent-font-color);
    border-radius: 100vw;
}
.uniqueness-card::-webkit-scrollbar-track{
    background-color: var(--accent-color-bg);
    border-radius: 100vw;
    margin: 0 25vw;
}
@supports (scrollbar-color: red blue){
    .uniqueness-card{
        scrollbar-color: var(--accent-font-color) var(--accent-color-bg);
    }
}
.uniqueness-card .unique-cards{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px 5px;
}
.uniqueness-card ul{
    padding: 5px 10px;
    min-width: 65vw;
}
.uniqueness-card li{
    list-style: none;
}
.uniqueness-card li:nth-child(1):before{
    content: "\2B24";
    color: #F8C700;
    padding: 0px 10px 0px 0px;
}
.uniqueness-card li:nth-child(2):before{
    content: "\2B24";
    color: #4075FF;
    padding: 0px 10px 0px 0px;
}
.uniqueness-card li:nth-child(3):before{
    content: "\2B24";
    color: #FF5B5B;
    padding: 0px 10px 0px 0px;
}
.uniqueness-card h4, .uniqueness-card p, .uniqueness-card li{
    font-family: var(--section-font);
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.uniqueness-card .card-photo{
    background-size: contain;
    height: 35vh;
    margin: 0px;
    width: calc(calc(720 * 35vh) / 720);
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
}
@media only screen and (min-width: 550px){
    .uniqueness-card ul{
        padding: 5px 10px;
        min-width: calc(calc(720 * 45vh) / 720);
    }
    .uniqueness-card .card-photo{
        background-size: contain;
        height: 45vh;
        margin: 0px;
        width: calc(calc(720 * 45vh) / 720);
        background-repeat: no-repeat;
        border: none;
        border-radius: 20px;
    }
    .uniqueness-card::-webkit-scrollbar{
        height: 10px;
    }
    .uniqueness-card::-webkit-scrollbar-track{
        background-color: var(--accent-color-bg);
        border-radius: 100vw;
        border: 1px solid var(--accent-font-color);
        margin: 0 20vw;
    }
}
#well_planned_classrooms{
    background-image: url("../assets/well_planned_classrooms.jpeg");
}
#fun_at_playground{
    background-image: url("../assets/playground.jpeg");
}
#practical_learning{
    background-image: url("../assets/practical_learning.jpeg");
}

.activities-box h2{
    font-family: var(--section-font);
}
.activities-box p{
    font-family: var(--section-font);
}
.activities-photos-box{
    display: flex;
    margin: 5px 0px;
    overflow-x: auto;
}
.activities-photos-box::-webkit-scrollbar{
    height: 5px;
}
.activities-photos-box::-webkit-scrollbar-thumb{
    background-color: var(--accent-font-color);
    border-radius: 100vw;
}
.activities-photos-box::-webkit-scrollbar-track{
    background-color: var(--accent-color-bg);
    border-radius: 100vw;
    margin: 0 25vw;
}
@supports (scrollbar-color: red blue){
    .activities-photos-box{
        scrollbar-color: var(--accent-font-color) var(--accent-color-bg);
        scrollbar-width: thin;
    }
}
.activities-photos-box #cultural_events{
    background-image: url("../assets/cultural_events.jpg");
    background-size: contain;
    height: 40vh;
    margin: 0px 10px;
    width: calc(calc(753 * 40vh) / 512);
    background-repeat: no-repeat;
}
.activities-photos-box #awareness_events{
    background-image: url("../assets/awareness_events.jpg");
    background-size: contain;
    height: 40vh;
    margin: 0px 10px;
    width: calc(calc(725 * 40vh) / 512);
    background-repeat: no-repeat;
}
.activities-photos-box #science_week{
    background-image: url("../assets/science_week.jpg");
    background-size: contain;
    height: 40vh;
    margin: 0px 10px;
    width: calc(calc(840 * 40vh) / 512);
    background-repeat: no-repeat;
}
.activities-photos-box #sports_week{
    background-image: url("../assets/sports_week.jpg");
    background-size: contain;
    height: 40vh;
    margin: 0px 10px;
    width: calc(calc(1015 * 40vh) / 512);
    background-repeat: no-repeat;
}
.activities-photos-box .activities-cards .activity-name{
    font-family: var(--section-font);
    font-weight: bold;
    margin: 5px 0px 10px 0px;
    padding: 10px 15px;
    background-color: whitesmoke;
    border: none;
}
@media only screen and (min-width: 550px){
    .activities-photos-box::-webkit-scrollbar{
        height: 10px;
    }
    .activities-photos-box::-webkit-scrollbar-track{
        background-color: var(--accent-color-bg);
        border-radius: 100vw;
        border: 1px solid var(--accent-font-color);
        margin: 0 20vw;
    }
}

.timeline-wrapper-box h2{
    font-family: var(--section-font);
}
.timeline-wrapper-box p{
    font-family: var(--section-font);
}
.event-wrapper-box p, .timeline-wrapper-box h4{
    margin: 10px;
    font-family: var(--section-font);
}
.timeline-box{
    padding: 0px 5px 0px 20px;
}
.timeline-box .event-wrapper-box{
    border-left: 2px solid var(--accent-font-color);
    padding: 0px;
    margin: 0px;
}
.timeline-box .event-box{
    padding: 0px 10px 10px 20px;
}
.timeline-box .event-wrapper-box:before{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 60%;
    border: 5px solid var(--accent-font-color);
    background-color: white;
    position: relative;
    right: 8.75px;
    top: 40px;
    box-shadow: 0px 2px 2px 1px rgb(0,0,0,0.2);
}
.timeline-box .event-details-box{
    background-color: var(--accent-color-bg);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
}

.contact-box h2{
    font-family: var(--section-font);
}
.contact-box p{
    font-family: var(--section-font);
}

.admission-spacing-box{
    width: 100%;
}
.admission-enquiry-box{
    position: fixed;
    height: fit-content;
    width: 100%;
    z-index: 999;
    margin: 0px;
    padding: 10px;
    font-family: var(--section-font);
    bottom: 0px;
    background-color: whitesmoke;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0.8px solid var(--accent-font-color);
    border-radius: 20px 20px 0px 0px;
    font-weight: bold;
}
.admission-enquiry-box .admission-enquiry-btn{
    display: inline-block;
    padding: 10px 15px;
    margin: 0px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 1px rgb(0,0,0,0.2);
}

@media only screen and (min-width: 550px){
    .admission-enquiry-box{
        top: 0px;
        right: 0px;
        border-radius: 0px 0px 0px 20px;
        padding: 10px;
        width: fit-content;
    }
}

.website-info-bottom-box{
    height: fit-content;
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: var(--header-color);
    color: white;
    font-family: var(--section-font);
}
.website-info-bottom-box h4{
    margin: 0px;
    padding: 20px 0px;
}
.website-info-bottom-box a{
    color: white;
    font-size: 0.85rem;
}
.website-info-bottom-box a:active{
    color: grey;
}
.website-info-bottom-box p{
    font-size: 0.85rem;
}
.website-info-bottom-box .copyright-notice{
    font-size: 0.7rem;
}


