@font-face {
    font-family: section-body-font;
    src: url('../assets/OpenSans-Regular.ttf');
}

:root{
    --header-color: #253764;
    --header-font-color: white;
    --accent-color: #e2e7da;
    --accent-color-bg: #e2e7da;
    --accent-font-color: #344b0f;
    --section-font: section-body-font;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    font-family: var(--section-font);
}
p, label, a{
    font-size: 0.9rem;
}

.school-name-box{
    padding: 15px 10px;
    margin: 0px;
    height: fit-content;
    background-color: var(--header-color);
}
.school-name-box .school-logo{
    display: inline-block;
    height: 50px;
    width: 50px;
}
.school-name-box .school-name{
    display: inline-block;
    height: 100%;
    color: var(--header-font-color);
}
.school-name-box .school-name h4, .school-name-box .school-name h2{
    margin: 0px;
    padding: 2px;
}

.content-box{
    padding: 0% 5%;
    margin: 0%;
    border: none;
}

.learning-methodology-box h3{
    border-left: 3px solid var(--accent-font-color);
    margin: 15px 0px;
    padding: 5px 5px 5px 10px;
}

.website-info-bottom-box{
    height: fit-content;
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: var(--header-color);
    color: white;
    font-family: var(--section-font);
}
.website-info-bottom-box h4{
    margin: 0px;
    padding: 20px 0px;
}
.website-info-bottom-box a{
    color: white;
    font-size: 0.85rem;
}
.website-info-bottom-box a:active{
    color: grey;
}
.website-info-bottom-box p{
    font-size: 0.85rem;
}
.website-info-bottom-box .copyright-notice{
    font-size: 0.7rem;
}