@font-face {
    font-family: section-body-font;
    src: url('../assets/OpenSans-Regular.ttf');
}

:root{
    --header-color: #253764;
    --header-font-color: white;
    --accent-color: #e2e7da;
    --accent-color-bg: #e2e7da;
    --accent-font-color: #344b0f;
    --section-font: section-body-font;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.school-name-box{
    padding: 15px 10px;
    margin: 0px;
    height: fit-content;
    background-color: var(--header-color);
    font-family: var(--section-font);
}
.school-name-box .school-logo{
    display: inline-block;
    height: 50px;
    width: 50px;
}
.school-name-box .school-name{
    display: inline-block;
    height: 100%;
    color: var(--header-font-color);
}
.school-name-box .school-name h4, .school-name-box .school-name h2{
    margin: 0px;
    padding: 2px;
}

.principal-photo-box{
    margin: 0px;
    padding: 0px;
    height: 250px;
    width: 100%;
    background-image: url("../assets/playground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.principal-photo-box div{
    margin: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #00000077;
}
.principal-photo-box h2{
    padding: 15px 0px 15px 15px;
    margin: 0px;
    color: var(--header-font-color);
    font-family: var(--section-font);
}

.content-box{
    padding: 0% 5%;
    margin: 0%;
    border: none;
}

.word-box p{
    font-family: var(--section-font);
}

.blank-bottom-box{
    height: 30vw;
    padding: 0px;
    margin: 0px;
    width: 100%;
}