./assets/playground.jpg
./assets/play-solid.svg
./assets/arrowleft.svg
./assets/arrowright.svg
./assets/clouds.svg
./assets/clouds2.svg
./assets/Sun.svg
./assets/battery.svg
./assets/bulb.svg
./assets/physicsexp.svg
./assets/teacher.svg
./assets/windmill.svg